*
{
    font-family: 'Poppins',sans-serif;
}
body
{
    background-color: #454545;
    color: #fff;
}
.left, .right
{
    flex-basis: 50%;
    padding: 10px;
}
.container
{
    width: 100%;
    height: 100vh;
    padding: 4px;
    display: flex;
}
textarea
{
    width: 94%;
    height: 28%;
    background-color: #1f1f1f;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    font-size: 18px;
    color:#fff
}
iframe
{
    width: 90%;
    height: 96%;
    background-color: #ffffff;
    color: black;
    border: 0;
    outline: 0;
}
i
{
    padding-right: 5px;
}
